* {
  margin: 0%;
  padding: 0%;
}

body {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: transparent transparent;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* Hide the scrollbar thumb and track for Webkit (Chrome and Safari) */
body::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

:root {
  --background-color: #ffffff;
  /* Background color for light theme */
  --text-color: #000000;
  /* Text color for light theme */
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #333333;
  /* Background color for dark theme */
  --text-color: #ffffff;

  .linkColor {
    color: white;
    font-weight: 400;
  }

  .userNameClr {
    color: black;
  }

  .serchBar {
    background-color: "#333333";
  }
}

.userNameClr {
  color: black;
}

.serchBar {
  background-color: white;
}

.linkColor {
  color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.app {
  /* background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/2470.jpg'); */
  /* background-repeat: no-repeat ; */
  /* background-size: cover; */
  height: 100vh;
  width: 100%;
}

.link {
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .app {
    width: 100vw;
  }
}


/* Add these styles to your CSS or CSS-in-JS */
.circle-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.circle {
  width: 50px;
  /* Adjust the size as needed */
  height: 50px;
  /* Adjust the size as needed */
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* Adjust the font size as needed */
  /* color: white; Adjust the text color as needed */
}

.name-label {
  margin-top: 5px;
  /* Adjust the margin as needed */
  margin-left: 10px;
}

.divHideScroll::-webkit-scrollbar {
  width: 0 !important
}

.route-with-hidden-overflow {
  overflow: hidden;
}

.nightModeBtn {
  padding: 2px 0px 0px 15px;
}

.card:hover .card-header,
.card:hover .card-body {
  background-color: rgb(225, 225, 225);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}